
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&display=swap');
@import url(./footer.css);

:root {
    --background : black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main */


body {
    background-color: var(--background);
    font-family: sans-serif;
}

p, h1, h2, h3, h4, a {
    color: white;
    font-family: Playfair Display;
}

h1 {
    font-family: allura;
    font-weight: lighter;
}

ul {
    list-style: none;
}

li {
 color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out; /* Added smooth transition effect */
  z-index: 200  ;
}
  
a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  section {
    margin-inline: max(1.5rem, ((100% - 80rem) / 2));
  }


/* Navbar */

/* nav styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    box-shadow: 0 -70px 100px 0 white;
    background-color: black;
    opacity: 0.9;
  }
  
  .logo {
    font-size: 1.8rem;
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 7px;
    background-color: white;
    border-radius: 10px;


    &:last-of-type {
        margin-bottom: 0;
    }

  }
  
 .nav__link {
    position: absolute;
    width: 100%;
    top: 4.9rem;
    left: 0;
    transition: 1s;
    background-color: black;
    border-bottom: 1px solid white;
    z-index: 10!important;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  footer .nav__link {
    position: static;
    width: 100%;
    transition: 1s;
    background-color: black;
    border: none;
    
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: 1s;
    border:none;
    position: relative;
  }
  
  .nav__link a:hover {
    border: none;
  }
  
  .hide {
    opacity: 0;
  }

  @media screen and (min-width: 650px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
      border: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
      transition: 1s;
      font-size: 1em;
    }
  
   .hamburger {
      display: none;
    }
  }

  .buttoneffect {
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: 1s;
    border:none;
    position: relative;
  }

  .buttoneffect::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom:0;
    background-color: white;
    transition: all ease-in-out .2s;
  }

  .buttoneffect:hover::after{
    width: 100%;
    left: 0;
  }

  /* Mainimage */


  .background {
    position: absolute;
    z-index: -1;

    &:nth-of-type(1) {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        width: 40%;


        @media (max-width: 650px) {
            width: 80%;
        }

    }

    &:nth-of-type(2) {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        width: 35%;
    }

    &:nth-of-type(3) {
        bottom: 1em;
        left: -8em;
    }

    &:nth-of-type(4) {
        top: -14vw;
        right: 0;
        opacity: 0.5;
        width: 35%;


        @media (max-width: 650px) {
            top: 0vw;
        }
    }


  }



  .mainimage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    height: 90vh;
    margin-top: 100px;


    & h1 {
        font-size: 4em;
    }

    & h2 {
        font-size: 2em;
        font-weight: 900;
    }

    & p {
        font-size: 1em;
        border: 2px solid white;

        padding: 0.5em 1em;
        text-align: center;
    }

    & img {
        width: 5em;
    }


  }


  /* Phones */

  .phones {
    background-color: white;
    width: 100%;
    margin-inline: 0;
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1300px) {
        
    }

    & h2 {
        color: black;
        text-align: center;

        font-family: allura;
        font-weight: 600;
        font-size: 3em;
        margin-top: 2em;


        @media (max-width: 1300px) {
            margin-bottom: 2em;
            font-size: 2em;
        }

        @media (max-width: 650px) {
            margin-bottom: 2em;
            font-size: 2em;
        }

    }

    & .figures {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
        width: 95%;
        gap: 1em;
        scroll-snap-align: center;
        &::-webkit-scrollbar {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 10px;
        }


        @media (max-width: 1300px) {
            flex-direction: row;
            width: 100%;
            overflow: auto;
            justify-content: flex-start;
        }

        & > figure {

            width: 100%;
            height: 18em;
            scroll-snap-type: x mandatory;

            @media (min-width: 1400px) {
                height: 20em;
                max-height: 22em;;
                
            }


            @media (max-width: 1300px) {
                height: 30em;
                min-height: 30em;
                min-width: 15em;
                margin-top: 0!important;
                
            }


            &:nth-of-type(1) {
                margin-top: 0;
            }
    
            &:nth-of-type(2) {
                margin-top: 4em;
            }
    
            &:nth-of-type(3) {
                margin-top: 8em;
            }
    
            &:nth-of-type(4) {
                margin-top: 12em;
            }
    
            &:nth-of-type(5) {
                margin-top: 8em;
            }
    
            &:nth-of-type(6) {
                margin-top: 4em;
            }
    
            &:nth-of-type(7) {
                margin-top: 0;
            }
    
    
        }

    } 

    & .slider {
        width: 300px;
        text-align: center;
        overflow: hidden;
      }

  }

  .iphone, .ipad {
	display: block;
	color: #fff;
	text-align: center;
	font-family: 'SF Pro Display', Helvetica Neue, Arial, sans-serif;
	letter-spacing: -.022em;
	font-size: 2.5vmin;
	text-shadow: 0 0 0.5em #000;
	background-color: #000;
	background-size: auto 200%, cover;
	background-repeat: no-repeat, no-repeat;
	border: solid #111;
	margin-bottom: 2em;
	position: relative;
	box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
	transition: all .1s linear, line-height 0s linear;
	background-position: 50% 100%, center;
	transform-origin: bottom center;

	&:hover {
		color: transparent;
		text-shadow: 0 0 0em transparent;
		background-position: 50% -100%, center center;
		transition: all .15s linear, line-height 5s linear;
		box-shadow: 0 0.5em 3em 0.25em rgba(0, 0, 0, 0.33), 0 0 0 1px #000 inset;
		transform: scale(1.0025);
		line-height: 0vmin;
	}
}

.iphone {
	--unit: calc(60vmin / 2.525);
	width: var(--unit);
	height: calc(2.15 * var(--unit));
	line-height: calc(2.165 * var(--unit));
	border-width: calc( var(--unit) / 15.625);
	border-radius: calc( var(--unit) / 5.86);
	background-image: linear-gradient(rgba(0,0,0,0), #111), url(https://www.apple.com/v/iphone-xs/d/images/overview/screen_display_wallpaper_iphonexs_large.jpg);
	z-index: 2;
}

.iphone:nth-of-type(3n) {
  background-image: linear-gradient(rgba(0,0,0,0), #111), url(../images/concert1.png);
}

.iphone:nth-of-type(3n + 1) {
  background-image: linear-gradient(rgba(0,0,0,0), #111), url(../images/concert2.png);
}

.iphone:nth-of-type(3n + 2) {
  background-image: linear-gradient(rgba(0,0,0,0), #111), url(../images/concert3.png);
}



.photos {
    background-color: black;
    width: 100%;
    margin-inline: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & section.text {
        display: grid;
        grid-auto-rows: 1fr; 
        grid-template-columns: 25% 50% 25%; 
        grid-template-rows: 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
        "text1 title text2"; 
        justify-items: center; 
        align-items: center; 
        gap: 3em;
        margin: 5em 0;

        @media (max-width: 800px) {
          display: grid;
          grid-auto-rows: 1fr; 
          grid-template-columns: 1fr; 
          grid-template-rows: 1fr 1fr 1fr; 
          gap: 10px 10px; 
          grid-template-areas: 
          "title"
          "text1"
          "text2";
        }
        

        & p {
            font-size: 0.8em;
            width: 20em;
            margin-top: 2em;

            @media (max-width: 800px) {
                margin-top: 0;
            }

            &:nth-of-type(1) {
                grid-area: text1;


            }

            &:nth-of-type(2) {
                grid-area: text2;
            }
        }

        & h2 {
            margin-top: -1em;
            grid-area: title;
            font-family: allura;
            font-size: 3rem;
            
            @media (max-width: 800px) {
                margin-top: 0;
            }
        }

    }
}

.photos1 {
    background-image: url(../images/background1.jpg);

    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    
      & > * {
        position: relative;
        z-index: 2;
      }
}

.photos2 {
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    
      & > * {
        position: relative;
        z-index: 2;
      }
}
.videos {
    background-image: url(../images/background3.jpg);
    background-size: cover;
    position: relative;
    background-position: bottom ;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    
      & > * {
        position: relative;
        z-index: 2;
      }
}

.seeMore {
  font-size: 1.5em!important;
}

.pop-text {
  opacity: 0;
  transform: scale(0.5); /* Initial scale */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popped {
  opacity: 1;
  transform: scale(1); /* Final scale */
}