*:not(style, head),
*::before,
*::after {
  box-sizing: border-box;
}

.swiperarticle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  
}

section.swiper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  overflow: hidden;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}



.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-slide {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 7px;
  margin: 0;
  cursor: grab;
  user-select: none;
  text-wrap: pretty;
}

.swiper .swiper-slide::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 10%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 0 0 7px 0;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 10%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 7px 0 0 0;
  content: "";
  transition: all 0.3s ease;
}


.swiper .swiper-slide:hover::before,
.swiper .swiper-slide:hover::after {
  width: 50%;
  height: 30%;
  transition: all 0.3s ease;
}

.swiper .swiper-slide .cardPopout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  /* margin-bottom: 25px; */
  border-radius: 5px;
}

.swiper .swiper-slide video {
  width: 100%;
  height: auto;
  /* margin-bottom: 25px; */
  border-radius: 5px;
}



.swiper .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 10px;
}

@media (max-height: 430px) {
  .swiper .swiper-wrapper {
    position: relative;
    bottom: 6px;
  }
}

.swiper-pagination-bullet {
    background-color: white!important;
}